.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .header__logo {
    height: 70px;
    margin-left: 12px;
  }
  .header__title {
    margin-right: 15px;
    font-size: 2.5em;
  }
  .header_discription{
    margin-right: 15px;
    font-size: 1.1em;
    margin-top: 3px;
    text-align: right;
    width: 215px;
  }
  .news__title{
    font-size: 1.8em;
    margin-left: 12px;
  }
  .project{
    margin-top: 12px;
  }
  .project-item {
    width: 100%;
    display: inline;
  }
  .project__next__image{
    width: 100%;
  }
  .project-item-title{
    float: left;
    width: 20%;
    font-size: 16px;
    text-align: left;
    margin:20px 0px 20px 12px;
  }
  .project-item-content{
    width: 90%;   
    font-size: 16px;
    margin:20px 0px 20px 12px;
  }  

}

@media screen and (min-width: 401px) and (max-width: 549px) {
  .header__logo {
    height: 70px;
    margin-left: 12px;
  }
  .header__title {
    margin-right: 15px;
    font-size: 3.5em;
  }
  .header_discription{
    margin-right: 15px;
    font-size: 1.1em;
    margin-top: 3px;
    text-align: right;
  }
  .news__title{
    font-size: 1.8em;
    margin-left: 12px;
  }
  .project{
    margin-top: 12px;
  }
  .project-item {
    width: 100%;
    display: inline;
  }
  .project__next__image{
    width: 100%;
  }
  .project-item-title{
    float: left;
    width: 10%;
    font-size: 16px;
    text-align: left;
    margin:20px 0px 20px 12px;
  }
  .project-item-content{
    float: right;
    width: 80%;
    text-align: right; 
    font-size: 16px;
    margin:20px 12px 20px 0px;
  }
}

@media screen and (min-width: 550px) and (max-width: 849px){
  .header__logo {
    height: 50px;
    margin-left: 12px;
  }
  .header__title {
    margin-right: 15px;
    font-size: 2.5em;

    /*vertical-align: bottom; */
  }
  .header_discription{
    margin-right: 15px;
    font-size: 1.1em;
    margin-top: 3px;
    text-align: right;
  }
  .news__title{
    font-size: 1.8em;
    margin-left: 12px;
  }
  .project{
    margin-top: 12px;
  }
  .project-item {
    display: inline-block;
    text-align: center;
    width: 33.3% ;
  }
  .project__next__image{
    width: 80%;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  .header__logo {
    height: 50px;
    margin-left: 12px;
  }
  .header__title {
    margin-right: 15px;
    font-size: 2.5em;

    /*vertical-align: bottom; */
  }
  .header_discription{
    margin-right: 15px;
    font-size: 1.1em;
    margin-top: 3px;
    text-align: right;
  }
  .news__title{
    font-size: 1.8em;
    margin-left: 12px;
  }
  .project{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  .project__next__image{
    width: 100%;
  }
  .project-item {
    text-align: center;
    width: 30%;
  }
}